<ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a class="nav-link " href="/home">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="/college">
            <i class="bi bi-building"></i>
            <span>College</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="/city">
            <i class="bi bi-geo-alt-fill"></i>
            <span>City</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="/termsCondition">
            <i class="bi bi-file-earmark-check-fill"></i>
            <span>Terms & Condition</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="/examRules">
            <i class="bi bi-flag-fill"></i>
            <span>Exam Rules</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="/student">
            <i class="bi bi-mortarboard-fill"></i>
            <span>Student</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="/exam">
            <i class="bi bi-file-earmark-code-fill"></i>
            <span>Exam</span>
        </a>
    </li>

<!--    <li class="nav-item">
        <a class="nav-link " href="/result">
            <i class="bi bi-grid"></i>
            <span>Exam Result</span>
        </a>
    </li>-->

</ul>
