<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{include/head}" >
  <title>Home</title>
</head>

<body>

  <!-- ======= Header ======= -->
  <header th:insert="~{include/header}"  id="header" class="header fixed-top d-flex align-items-center"></header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar" th:insert="~{include/sidebar}"></aside><!-- End Sidebar-->

  <main id="main" class="main">
    <div class="pagetitle">
      <h3>Student Registration</h3>
    </div><!-- End Page Title -->

    <div class="col-lg-10">

      <div class="card">
        <div class="card-body">
          <!-- Advanced Form Elements -->
          <form id="dataForm">
            <div class="row mb-3">
              <div class="col-sm-10">

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                  <label for="name">Student Name</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="fatherName" id="fatherName" placeholder="Enter father name">
                  <label for="fatherName">Father Name</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="number" class="form-control" name="mobile" id="mobile" placeholder="Enter mobile number">
                  <label for="mobile">Mobile</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email">
                  <label for="email">Email</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="password" id="password" placeholder="Enter your password">
                  <label for="password">Password</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="collageName" id="collageName" placeholder="Enter your collage name">
                  <label for="collageName">Collage Name</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="course" id="course" placeholder="Enter course name">
                  <label for="course">Course</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="branch" id="branch" placeholder="Enter branch name">
                  <label for="branch">Branch</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="number" class="form-control" name="alternateMobile" id="alternateMobile" placeholder="Enter alternate mobile number">
                  <label for="alternateMobile">Alternate Mobile</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="grad" id="grad" placeholder="Enter grad">
                  <label for="grad">Grad</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="cgpa" id="cgpa" placeholder="Enter grad">
                  <label for="cgpa">CGPA</label>
                </div>

                <div class="form-floating mb-3">
                  <textarea class="form-control" placeholder="Enter your address" name="address" id="address" style="height: 100px;"></textarea>
                  <label for="address">Address</label>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">SUBMIT</button>
                </div>

              </div>
            </div>

          </form><!-- End General Form Elements -->

        </div>
      </div>

    </div>

  </main>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer" th:insert="~{include/footer}">

  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
        $('#dataForm').on('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission

            var formData = {
            name: $('#name').val(),
            fatherName: $('#fatherName').val(),
            mobile: $('#mobile').val(),
            email: $('#email').val(),
            password: $('#password').val(),
            collageName: $('#collageName').val(),
            course: $('#course').val(),
            branch: $('#branch').val(),
            alternateMobile: $('#alternateMobile').val(),
            grad: $('#grad').val(),
            cgpa: $('#cgpa').val(),
            address: $('#address').val()
        };

            // Send the AJAX request
            $.ajax({
                type: 'POST',
                url: baseUrl + 'studentAPI/create',
                data: JSON.stringify(formData), // Convert data to JSON
                contentType: 'application/json',
                success: function (response) {
                    // Check the API response
                    if (response.result) {
                       // alert(response.message);
                        alert('Student register successfully.');
                        window.location.href = baseUrl + 'studentRegistration';
                    } else {
                        alert('Operation failed: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error occurred:', status, error);
                    alert('An error occurred while submitting the form. Please try again.');
                }
            });
        });
    });
  </script>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <div  th:insert="~{include/vendor-js}"></div>
</body>

</html>