<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{include/head}" >
  <title>Home</title>
</head>

<body>

  <!-- ======= Header ======= -->
  <header th:insert="~{include/header}"  id="header" class="header fixed-top d-flex align-items-center"></header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar" th:insert="~{include/sidebar}"></aside><!-- End Sidebar-->

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Terms Condition Update</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item"><a href="/termsCondition">Terms Condition Report</a></li>
          <li class="breadcrumb-item active">Terms Condition Update</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <!-- Advanced Form Elements -->
          <form id="dataForm">
            <div class="row mb-3">
              <div class="col-sm-12">

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="title" th:value="${termsCondition.title}" name="title" placeholder="Enter title">
                  <input type="hidden" id="termsConditionId" name="termsConditionId" th:value="${termsCondition.termsConditionId}">
                  <label for="title">Title</label>
                </div>

                <div class="quill-editor-full col-lg-12" id="description" th:utext="${termsCondition.description}"></div>

                <div class="col-12 text-center mt-2">
                  <button class="btn btn-primary w-100" style="width: 200px !important;" type="submit">SUBMIT</button>
                </div>

              </div>
            </div>

          </form><!-- End General Form Elements -->

        </div>
      </div>

    </div>

  </main>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer" th:insert="~{include/footer}">

  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
        $('#dataForm').on('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission

             var formData = {
                termsConditionId: $('#termsConditionId').val(),
                title: $('#title').val(),
                description: $('#description .ql-editor').html()
            };

            $.ajax({
                type: 'PUT',
                url: baseUrl + 'termsConditionAPI/update',
                data: JSON.stringify(formData), // Convert data to JSON
                contentType: 'application/json',
                success: function (response) {
                    // Check the API response
                    if (response.result) {
                       // alert(response.message);
                        alert('Terms condition details updated successfully.');
                        window.location.href = baseUrl + 'termsCondition';
                    } else {
                        alert('Operation failed: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error occurred:', status, error);
                    alert('An error occurred while submitting the form. Please try again.');
                }
            });
        });
    });
  </script>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <div  th:insert="~{include/vendor-js}"></div>

<!--  <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Initialize the first editor
        var quill1 = new Quill('#termDescription', {
            theme: 'snow' // Use 'bubble' for another style
        });

        // Initialize the second editor
        var quill2 = new Quill('#conditionDescription', {
            theme: 'snow'
        });
    });
  </script>-->

</body>

</html>