<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{include/head}" >
  <title>Home</title>
</head>

<body>

  <!-- ======= Header ======= -->
  <header th:insert="~{include/header}"  id="header" class="header fixed-top d-flex align-items-center"></header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar" th:insert="~{include/sidebar}"></aside><!-- End Sidebar-->

  <main id="main" class="main">
    <h1>Admin Panel</h1>
  </main>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer" th:insert="~{include/footer}">

  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <div  th:insert="~{include/vendor-js}"></div>
</body>

</html>